* {
    /* usually want this on every website you create. So that padding doesn't affect the width */
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#StageContainer {
    position: relative;
    display: inline-block;
}

#StatusBar {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

#Player1Health {
    position: absolute;
    background: yellow;
    height: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin-left: auto;
}

#Player2Health {
    
    position: absolute;
    background: yellow;
    height: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    
}

#Timer {
    background-color: green;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

.PlayerHealthBar {
    background-color: red;
    height: 30px;
    
}

.HealthBarContainer {
    position: relative;
    height: 30px;
    width: 100%;
}